 body {
   background: url(./imagens/fudo\ verde.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.gif {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;    
    color: black;
    font-weight: bold;
    font-size: 22px;
}

header { 
        background: #c2ea0e;
    
}

.titulo img {

    z-index: 2;
    width: 400px;
    
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    margin-top: -35px;
}

.gif img {
    width: 300px;
    position: relative;
    top: 20px;

}

.quadro {
    margin: 0 auto;
    text-align: center;
    
}

.quadro img {
   height: 70px;

}

.quadro li {
    background: red;
    
}

.quadro li {
    display: inline-block;
    vertical-align: top 20px;
    margin: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    background: white;
    width: 150px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.quadro p {
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.quadro2 {
    margin: 0 auto;
    text-align: center;
    /* width: 0;
    padding: 400px; */
}

.quadro2 img {
    margin-top: 20PX;
    width: 400px;
    border-radius: 20px;
}

 .preco sup {
    font-size: 22px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    

}

.preco span {
    font-size: 15px;
    font-weight: 700;
    vertical-align: top;
} 

.quadro li:hover {
    box-shadow: 0 0 50px white, 0 0 50px white
    , 0 0 100px white;
    background: white;
    transform: scale(1.1);
   
}     

.clique {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

button {
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 5px 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}

button a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

button:hover {
    transform: scale(1.2);
}








